---
layout: default
title: Blog
description: Field notes from the things I build.
permalink: /blog/
---
<section class="blog-index">
	<p class="section-label">// blog</p>
	<h1 class="blog-title">Blog</h1>

	{% if site.posts.size > 0 %}
	<ul class="post-list">
		{% for post in site.posts %}
		<li class="post-list-item">
			<a href="{{ post.url }}">
				<span class="pli-main">
					<span class="pli-title">{{ post.title }}</span>
					{% if post.subtitle %}<span class="pli-sub">{{ post.subtitle }}</span>{% endif %}
				</span>
				<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %Y" }}</time>
			</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p class="blog-empty">First post landing shortly.</p>
	{% endif %}
</section>
